<% provide(:title, 'About Us') %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h2>About Us! <small>Serving photographers, collectors and commercial clients since 1989, Mullen Labs prints, mounts, frames, ships and installs photography. With a focus on impeccable print and finishing quality, brothers Mike and Tim Mullen and their team of technicians use the most advanced printing and CNC equipment in their state-of-the-art 15,000 square-foot facility in San Francisco.</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= image_tag("aboutimg2.jpg", alt: "About Us", class: "img-responsive") %>
  </div>
</div>