<% provide(:title, 'Case Study - Krav Maga Xtreme') %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h2>Commercial Space Case Study <small><a href="http://www.kmxtreme.com">Krav Maga Xtreme</a> provides high quality self-defense and fitness training to the SF Bay Area with a focus on Krav Maga, Cardio X, Grappling, Kettlebell, Cross Training and TRX.  When it was time to refresh the look of their 7000 sq. ft. Berkeley facility they turned to us to print, mount and install a custom large format print for their lobby.<br><br>
  They came to us with artwork they had produced in house, from photography by San Francisco photographer <a href="http://www.svenwiederholt.com">Sven Wiederholt</a>.  We printed a 40”x60” piece and facemounted it under ¼” crystal clear acrylic.  The piece was finished with a ¼” backer board and hung on custom made and installed French cleats for a secure and level display.
  </small></h2>
  </div>
  <div class="col-md-4">
    <%= image_tag("cskme1.jpg", alt: "Krav Maga Xtreme case study", class: "img-responsive buffer") %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= image_tag("slide1.jpg", alt: "Krav Maga Xtreme case study alternate view", class: "img-responsive") %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h2><small>The result brought new life and some visual drama to their lobby where prospective members get their first taste of Krav Maga Xtreme.</small></h2>
  </div>
</div>
