<% provide(:title, 'Get in Touch!') %>
<div class="row">
  <div class="col-md-7 col-md-offset-1">
  <h2>Get in Touch! <small>Need to create and display a monster print? Got a custom large format project coming up? Need a consultation for stunning photographic images for your restaurant, hotel or office? Get in touch, we would love to help.</small></h2>
  <h4>In Person: <small>2040 Oakdale Ave, San Francisco, CA  94124 (studio visits and consultations by appointment, see below)</small></h4>
  <h4>Phone: <small>1-415-867-2749</small></h4>
  <h4>Email: <small>info@mullenlabs.com</small></h4>
  <h4>Follow: <a href="https://twitter.com/mullenlabs"><%= image_tag("twit.png", alt: "Follow Us on Twitter", size: "31x25") %></a></h4>
  </div>
  <div class="col-md-3">
  <%= image_tag("contactimage3.jpg", alt: "Contact Us", class: "img-responsive") %>
  </div>
</div>
