<% provide(:title, 'Case Study - Residential') %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
  <h2>Residential Case Study <small>We were contacted by a homeowner in the process of settling into his new San Francisco loft space. After a consultation we settled on ¼” acrylic facemounting as the perfect mounting option for their space. By mounting images directly to crystal clear acrylic the work is very well protected from damage, made ready to hang and by not having a traditional frame no new “personality” is introduced to the work and it simply speaks for itself.  The choice of hanging system was a shop made French cleat.  This system allows for a very secure attachment to the wall (a critical feature in San Francisco) while at the same time floating the image off the wall for added visual impact.
  </small></h2>
  </div>
  <div class="col-md-4">
    <%= image_tag("csrc2.jpg", alt: "Residential custom facemounted image detail", class: "img-responsive buffer") %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= image_tag("csrc1.jpg", alt: "Residential custom facemounted image", class: "img-responsive buffer") %>
  </div>
  <div class="col-md-6">
  <h2><small>Initially our client came to us looking for an image as well as the printing, mounting and installation.  Working together we settled on a signature image from San Francisco photographer <a href="http://www.3am.net">Winni Wintermeyer</a>. “Maze” a night shot of the 280 / 101 freeway interchange captures the essence of the unglamorous day-to-day life of San Francisco in a mysterious and powerful image.  We printed the 29.5” by 37.25” piece in house and mounted it to acrylic with a ¼” backer board for maximum protection and rigidity.  A shop made cleat and spacer bar finished the work and we installed the piece to the customer’s exacting specifications.
  </small></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <h2><small>After this first piece was installed our customer came back to us with an image of his own.  This was a large format landscape image that he wanted custom printed and mounted for a specific wall space.  The result was a 16” x 56” piece mounted above his bed.  The frameless facemount combined with the float off the wall really brought the image into the space in a way not possible with traditional framing or mounting.</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <%= image_tag("slide2v3.jpg", alt: "Custom landscape facemounted image", class: "img-responsive") %>
  </div>
</div>
