
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/"><div id="logo"></div></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Case Studies <b class="caret"></b></a>
                  <ul class="dropdown-menu dropdown-menu-right">

                    <li><a href="/krav-maga-extreme">Krav Maga Xtreme</a></li>
                    <li><a href="/residential">Residential Commission</a></li>
                  </ul>
                </li>
                <li><a href="/articles">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>